---
- name: Run tasks
  tags:
    - always
  block:
    - name: Create SQL Databases
      ansible.windows.win_dsc:
        resource_name: SQLDatabase
        Name: "{{ db.name }}"
        InstanceName: "{{ microsoft_sql_dsc_instancename }}"
        Collation: "{{ db.collation | default(omit) }}"
        CompatibilityLevel: "{{ db.compatibility_level | default(omit) }}"
        RecoveryModel: "{{ db.recovery_model | default('FULL') }}"
        OwnerName: "{{ db.owner_name | default(omit) }}"
      loop: "{{ microsoft_sql_databases }}"
      loop_control:
        loop_var: db

    - name: Configure SQL Database Files
      ansible.windows.win_dsc:
        resource_name: SqlScriptQuery
        Id: "ConfigureDatabaseFiles"
        InstanceName: "{{ microsoft_sql_dsc_instancename }}"
        Variable: "NAME={{ db.name }}, SIZE={{ db.db_size }}, MAXSIZE={{ db.db_max_size }}, FILEGROWTH={{ db.db_growth }}"
        Encrypt: Optional
        SetQuery: |
          USE [master]
          GO
          ALTER DATABASE $(NAME)
          MODIFY FILE
          (
            NAME = '$(NAME)',
            MAXSIZE = $(MAXSIZE),
            SIZE = $(SIZE),
            FILEGROWTH = $(FILEGROWTH)
          )
          GO
        GetQuery: |
          USE [master]
          GO
          SELECT * FROM sys.master_files
          WHERE type_desc = 'ROWS'
          AND name = '$(NAME)'
          GO
        TestQuery: |
          USE [master]
          GO
          if(SELECT COUNT(database_id) FROM sys.master_files
          WHERE type_desc = 'ROWS'
          AND name = '$(NAME)'
          AND size = 1024
          AND max_size = -1
          AND growth = 8192) = 0
          BEGIN
            PRINT 'Found default configuration'
          END
          ELSE
          BEGIN
            RAISERROR ('Default configuration has been modified', 16, 1)
          END
          GO
      loop: "{{ microsoft_sql_databases }}"
      loop_control:
        loop_var: db

    - name: Configure Log Database Files
      ansible.windows.win_dsc:
        resource_name: SqlScriptQuery
        Id: "ConfigureLogFiles"
        InstanceName: "{{ microsoft_sql_dsc_instancename }}"
        Variable: "NAME={{ db.name }}, SIZE={{ db.log_size }}, MAXSIZE={{ db.log_max_size }}, FILEGROWTH={{ db.log_growth }}"
        Encrypt: Optional
        SetQuery: |
          USE [master]
          GO
          ALTER DATABASE $(NAME)
          MODIFY FILE
          (
            NAME = '$(NAME)_log',
            MAXSIZE = $(MAXSIZE),
            SIZE = $(SIZE),
            FILEGROWTH = $(FILEGROWTH)
          )
          GO
        GetQuery: |
          USE [master]
          GO
          SELECT * FROM sys.master_files
          WHERE type_desc = 'LOG'
          AND name = '$(NAME)_log'
          GO
        TestQuery: |
          USE [master]
          GO
          if(SELECT COUNT(database_id) FROM sys.master_files
          WHERE type_desc = 'LOG'
          AND name = '$(NAME)_log'
          AND size = 1024
          AND max_size = 268435456
          AND growth = 8192) = 0
          BEGIN
            PRINT 'Found default configuration'
          END
          ELSE
          BEGIN
            RAISERROR ('Default configuration has been modified', 16, 1)
          END
          GO
      loop: "{{ microsoft_sql_databases }}"
      loop_control:
        loop_var: db
