- name: Install dependencies
  ansible.builtin.include_tasks:
    file: install_dependencies.yml
  tags:
    - install_dependencies

- name: Install Microsoft SQL
  ansible.builtin.include_tasks:
    file: install_sql.yml
  tags:
    - install_sql

- name: Configure the firewall
  ansible.builtin.include_tasks:
    file: configure_firewall.yml
  tags:
    - configure_firewall

- name: Install SQL Server Management Studio (SSMS)
  ansible.builtin.include_tasks:
    file: install_ssms.yml
  tags:
    - install_ssms

- name: Configure SQL users
  ansible.builtin.include_tasks:
    file: configure_users.yml
  tags:
    - sql_users

- name: Configure SQL databases
  ansible.builtin.include_tasks:
    file: configure_databases.yml
  tags:
    - sql_databases
